<h1>Burgers!</h1>

<h2>Burgers to Eat!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devour?</label><br>
    <input type="radio" name="devoured" value="1" checked> DEVOURED!<br>
    <input type="radio" name="devoured" value="0"> Ready to eat!
  </div> --}}

  <button type="submit">Add Burger</button>
</form>
