body {
  background-color: #B9E3AB;
  font-family: 'Luckiest Guy', cursive;
  color: #8B4513;
}

h5 {
  color: #654321;
}

h2 {
  text-shadow: 1px 1px gray;
}

h1 {
  font-size: 70px;
  text-shadow: 3px 3px gray;
}

.pacman-img {
  background-color: #853D1F; 
  width: 500px;
  height: 281px;
}

.burger-name {
  padding: 10px;
}

/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  } */
  
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
  